<div id="footer">
        <p>
            <a href="mailto:joseph.schlimmer@gmail.com">email</a> | 
            <a href="http://twitter.com/JosephSchlimmer">twitter</a> |
            <a href="https://www.macadmins.org/">Joe Schlimmer on macadmins slack</a> |
            <a href="https://community.jamf.com/t5/user/viewprofilepage/user-id/52725">Jamf Nation</a>
        </p>
</div>

</body>
</html>

	<script>
YUI({
    classNamePrefix: 'pure'
}).use('gallery-sm-menu', function (Y) {

    var horizontalMenu = new Y.Menu({
        container         : '#horizontal-menu',
        sourceNode        : '#std-menu-items',
        orientation       : 'horizontal',
        hideOnOutsideClick: false,
        hideOnClick       : false
    });

    horizontalMenu.render();
    horizontalMenu.show();

});
</script>
