<!DOCTYPE html>
<html>
<head>
	<title>Odds and Ends</title>
	<link rel="stylesheet" href="css/pure-min.css">
	<link rel="stylesheet" href="css/style/style.css">
	<!--<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/base-min.css">-->
	<script src="http://yui.yahooapis.com/3.14.1/build/yui/yui-min.js"></script>
	<script src="js/paginator.js"></script>
</head>
<body>
<div class="pure-g-r">
	<div class="header pure-u-1">
		<h1>Welcome to Joe Schlimmer's website</h1>
		<div class="donate pure-u-1-8">
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="TQMCJKSHK8FDG">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
			<p id="donatetext">Bandwidth and time is expensive! Consider donating to keep JoeSchlimmer Dot Com running.</p>
		</div>
		<h2>Nobody said anything about that</h2>
	</div>
	<div class="pure-u-1 pure-menu pure-menu-open pure-menu-horizontal" id="horizontal-menu">
		<span class="pure-menu-heading">Joe Schlimmer dot com</span>
		<ul id="std-menu-items">
			<li class="pure-menu-selected"><a href="/">Home</a></li>
			<li><a href="races.html">Racing</a></li>
			<li><a href="http://www.wartz-crp.net">Wartz's Crappy Recs Page</a></li>
			<li>
				<a href="#">Links</a>
	            <ul>
	                <li class="pure-menu-heading">Schlimmer Website Network</li>
	                <li class="pure-menu-separator"></li>
	                <li><a href="http://www.mikkowus.com">Michael Schlimmer</a></li>
					<li><a href="http://www.francisschlimmer.com">Francis Schlimmer</a></li>
					<li><a href="http://www.benschlimmer.com">Ben Schlimmer</a></li>
					<li><a href="http://www.maryschlimmer.com">Mary Schlimmer</a></li>
					<li><a href="http://www.theresaschlimmer.com">Theresa Schlimmer</a></li>
					<li><a href="http://www.andrewtran.net">Andrew Tran</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>