<!DOCTYPE html>
<html>
        <head>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>Joe Schlimmer: Odds and Ends</title>
                <!--[if lte IE 8]>
                        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
                        <![endif]-->
                        <!--[if gt IE 8]><!-->
                                <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
                                <!--<![endif]-->
                                <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
                                <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
                                <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/base-min.css">
                                <script src="http://yui.yahooapis.com/3.14.1/build/yui/yui-min.js"></script>

        </head>
        <body>
                <div class="pure-g">
                        <div class="header pure-u-1">
                                <!--<h1>Welcome to Joe Schlimmer's website</h1>-->
                                <h2>Nobody said anything about that</h2>
                        </div>
                        <div class="pure-u-1 pure-menu pure-menu-horizontal" id="horizontal-menu">
                                <ul id="pure-menu-list">
                                        <a href="/" class="pure-menu-heading pure-menu-link">Joe Schlimmer dot com</a>
                                        <li class="pure-menu-item"><a href="{{ site.url }}/about" class="pure-menu-link">About</a></li>
                                        <li class="pure-menu-item"><a href="{{ site.url }}/racing" class="pure-menu-link">Racing</a></li>
                                        <li class="pure-menu-item"><a href="{{ site.url }}/contact" class="pure-menu-link">Contact</a></li>
                                        <li class="pure-menu-item"><a href="http://github.com/wartz" class="pure-menu-link">Github</a></li>
                                </ul>
                        </div>
                </div>
