<!DOCTYPE html>
<html>
        <head>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>Joe Schlimmer</title>
                <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous"> 
                <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css">
                <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
                <!-- <script src="http://yui.yahooapis.com/3.14.1/build/yui/yui-min.js"></script> -->

        </head>
        <body>
                <div class="pure-g">
                    <div class="pure-u-1 pure-menu pure-menu-horizontal" id="horizontal-menu">
                                <ul id="pure-menu-list">
                                        <a href="/" class="pure-menu-heading pure-menu-link">Joe Schlimmer dot com</a>
                                        <li class="pure-menu-item"><a href="{{ site.url }}/about" class="pure-menu-link">About</a></li>
                                        <li class="pure-menu-item"><a href="{{ site.url }}/racing" class="pure-menu-link">Racing</a></li>
                                        <li class="pure-menu-item"><a href="{{ site.url }}/resume" class="pure-menu-link">Resume</a></li>
                                        <li class="pure-menu-item"><a href="{{ site.url }}/portfolio" class="pure-menu-link">Portfolio</a></li>
                                        <li class="pure-menu-item"><a href="{{ site.url }}/contact" class="pure-menu-link">Contact</a></li>
                                        <li class="pure-menu-item"><a href="http://github.com/wartz" class="pure-menu-link">Github</a></li>
                                </ul>
                        </div>

                        <div class="header pure-u-1">
                            <img class="pure-img" src="./images/header2.jpg" alt="canoeists padddling, header image">
                        </div>
                </div>
